body {
	font-family: Helvetica, Tahoma, Arial, sans-serif;
	color: #b82f11;
}

p, label {
	font-size: 14px;
	color: black;
}

h2 {
	font-family: Bitter, Georgia, Helvetica, Arial, sans-serif;
}

.deb {
	float: right;
	font-weight: normal;
	margin-top: -5px;
	font-size: 1.7em;
}

.mnd {
	margin-bottom: 0;
	font-size: 1.7em;
}

#wrap {
}

#user_credentials { 
	margin-left: 50px;
}

.clear_both {
	clear:both;
}

#user_last_posts{
	margin-top: 15px;
}

#user_last_posts p {
	font-weight: bold;
}

#header {
	width: 100%;
	height: 18%;
	margin-left: auto;
	margin-right: auto;
	color: #ba330d;
	border-bottom: 4px solid black;
	margin-bottom: 20px;
}

#wrap {
	width: 80%;
	height: 700px;
	margin-left: auto;
	margin-right: auto;
}

#content_post {
	width: 78%;
	float: left;
	background-color: #e6e6e6;
}

#pen-wrapper {
	width: 100%;
	height: 13%;
}

#pen-icon {
	background: url(../images/minipen.png);
	width: 50px;
	height: 50px;
	float: left;
}

#pen-line {
	background: url(../images/line.png);
	background-repeat: no-repeat;
	height: 30px;
	width: 140px;
	float: left;
	margin-top: 30px;
}

#pen-line p {
	position: relative;
	height: auto;
	width: auto;
	bottom: 28px;
	float: left;
	margin-left: 12px;
	font-family: 'Patrick Hand', cursive;
	font-size: 1.2em;
}

#nav {
	margin: 0 auto;
	width: 78%;
}

#nav h3 {
	float: left;
	font-family: Tahoma, Arial, sans-serif;
	padding: 0 40px;
	color: #000;
	font-weight: 200;
}

#sidebar {
	width: 20%;
	float: right;
	background-color: #e6e6e6;
}

#sidebar_head {
	margin: 20px;
}

#sidebar_content {
	padding: 20px;
}

#sidebar2 {
	width: 20%;
	float: right;
	background-color: #f57b1d;
	margin-top: 25px;
}

#sidebar_head2 {
	margin: 20px;
}

#sidebar_content2 {
	padding: 20px;
}

#sidebar2 p {
  	color: white;
	font-size: large;
	font-weight: bold;
}

#footer {
	clear: both;
	height: 130px; 
	width: 100%; 
	background-image: url(../images/footer_bg.jpg); 
	background-repeat: repeat-x;
	text-align: center;
}

#footer p {
  	color: white;
	font-size: large;
	font-weight: bold;
}

#logo {
	float: left;
	height: 100px;
}

#logo h1 {
	font-size: 3.7em;
	color: #b82f11;
}

#login, #register, #logout {
	float: right;
	margin-left: 3px;
}

#user_profile {
	float: right;
}

#profile_picture {
	float: right;
	margin-right: 50px;
}

#slogan {
	color: #636363;
	text-align: center;
}

#slogan p {
	font-size: 1.2em;
}

#logout a:link, #logout a:visited, #logout a:hover, #logout a:active {
	color: #000;
}

#user_profile a:link, #user_profile a:visited, #user_profile a:hover, #user_profile a:active {
	color: #000;
}

#in_text {
	height:257px;
	width:525px;
}

#comment_text {
	height: 257px;
	width: 525px;
	max-width: 525px;
	margin: 10px;
	padding: 20px;
}

#comment_content p {
	color:black;
}

.new_comment h2 {
	margin: 15px;
}

#profile_buttons {
	padding-top: 50px;
}

.post {
	position:relative;
	margin: 20px;
	background-color:#9B9494;
	height: 270px;
	width: 60%;
}

.post_feedback {
	float: left;
	margin-left: 25px;
}

.post_comment_button, .post_statistic, .post_statistic_button, .post_feedback_button, .post_statistic_button, .comment_report, .comment_feedback, .comment_statistics, .edit_comment {
	float: left;
	margin-left: 25px;
}

.comment_feedback, .comment_report, .edit_comment {
	margin-right: 30px;
}

.comment_report_button, .comment_statistic_button, .comment_feedback_button, .edit_comment_button {
	padding-left: 7px;
}

#comment_content {
	min-height: 150px;
    padding: 0 20px 80px;
}

#post_content {
	min-height: 180px;
    padding: 0 20px 80px;
}


.post_feedback p, .post_comment_button p, .post_statistic p, .post_statistic_button p, .edit_comment p, .comment_statistic p, .comment_feedback p, .comment_report p {
font-size: 0.8em;
color: #ba330d;
}

.post h2 {
	padding-top: 15px;
}


.post_bar, .entire_post_bar, .comment_bar {
	position:absolute;
	bottom:0px;
	width:100%;
}

.post_truncated {
	width: 90%;
}

.post img {
	float:left;
	height: 170px;
	width: 100px;
	padding: 15px;
	padding-bottom: 0px;
}

#post_picture img, #comment_picture img {
	float:left;
	padding: 15px;
	padding-bottom: 0px;
	height: 170px;
}

#post_content h2 {
	padding-top:15px;
}

#post_content p {
	padding-top:0px;
	font-size: 14px;
}


.hashtags {
	font-size: 14px;
}

.post_title {
}

.feedback_buttons {
	margin-top:20px;
}
#post_author {
	margin-right: 25px;
}

#post {
	width: 70%;
	position: relative;
	margin: 20px;
	background-color:#ADA9A9;
}

.post_comment {
	width: 40%;
	position: relative;
	margin: 20px;
	background-color:#B9B6B6;
}

#comment_picture {
	float:left;
	margin-right: 5px;    
}

.comment_text {
	padding-bottom: 170px;
}

.post_comment h2 {
	padding-top: 20px;
}

#post_content {
	padding-left: 10px;
}

#post_author label {
	font-weight: bold;
}

#post_author_credentials {
	clear:both;
	padding:20px;
}

#post_profile_picture {
	float:left;
	margin-left: 5px;
	margin-right:10px;
}

#comments_pic {
	width: 25px;
	height: 25px;
	margin-right: 7px;
	padding: 0;
}

.post_comment {
	background-color: #C3BEBE;
	margin: 20px;
	width:40%;
}

.new_comment {
	background-color: #C3BEBE;
	margin: 20px;
	width: 50%;
}

.new_comment h2 {
	padding-top: 15px;
}

.delete_comment {
	float:right;
}

.delete_comment_button, .delete_post_button {
	width: 25px;
	height:25px;
	padding: 5px;
}

.post_alternatives {
	margin-top: 18px;
}

.numberOfComments {
	float:right;
	margin: 20px 10px 0 0;
}
a:link, a:visited, a:hover, a:active {
	text-decoration:none;
	color: #b82f11;
	font-family: Bitter, Georgia, Helvetica, Arial, sans-serif;
}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}


#search {
	position: absolute;
 	top: 40px;
 	right: 78px;
 	width: 200px;
}

.form-wrapper #search {
        width: 330px;
        height: 20px;
        padding: 10px 5px 5px 5px
        float: left;
        font: 16px 'lucida sans', 'trebuchet MS', 'Tahoma';
        border: 1px solid #ccc;
        -moz-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
        -webkit-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
        box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
}

